/* Task 1: Effortless transitions when scrolling
Description: When scrolling is triggered on the html
element itself, we’d like the behavior of the scroll to be
as fluid as possible.
*/

html {
    scroll-behavior: smooth; /* Enables smooth scrolling behavior */
    overflow-y: scroll; /* Shows vertical scrollbar even when not scrolling */
}
